@page
@model ClinicaVeterinaria.App.Presentacion.Pages.MenuUsurarioModel
@{}
<h2>Ingreso Usuario</h2><br>
<div style="text-align: center;">
    <a asp-page="./RegistroNuevoUsuario"><button type="button" class="btn btn-primary btn-sm">Registrar (Nuevo
            Usuario)</button></a>
</div><br>
<div style="text-align: center;">
    <a asp-page="./IniciarSesion"><button type="button" class="btn btn-primary btn-sm">Ingresar</button></a>
</div>
//En este apartado se debe crear el inicio de sesión del usuario
