@page
@model ClinicaVeterinaria.App.Presentacion.Pages.RegistrarMascotaModel
@{}
<form>
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" placeholder="Introduzca el nombre de la mascota">
    </div>
    <div class="form-group">
        <label for="tipo">Tipo</label>
        <input type="text" class="form-control" id="tipo" placeholder="Introduzca el tipo de mascota">
    </div>
    <div class="form-group">
        <label for="fecha">Fecha de nacimiento</label>
        <input type="text" class="form-control" id="fecha" placeholder="Introduzca la fecha de nacimiento">
    </div>
    <div class="form-group">
        <label for="descripcion">Descripción</label>
        <textarea class="form-control" id="descripcion" placeholder="Descripción" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" id="boton-registro">Submit</button>
</form><br><br><br>
