@page
@model ClinicaVeterinaria.App.Presentacion.Pages.UsuarioRegistradoModel
@{}
<h2>Bienvenido Fulanito Detal</h2><br>
<div style="text-align: center;">
    <a asp-page="./RegistrarMascota"><button type="button" class="btn btn-primary btn-sm">Registrar Nueva
            Mascota</button></a>
</div><br>
<div style="text-align: center;">
    <a asp-page="./ConsultarHistoriaClinica"><button type="button" class="btn btn-primary btn-sm">Consultar Historia
            Clinica</button></a>
</div><br>
<div style="text-align: center;">
    <a asp-page="./SolicitarCita"><button type="button" class="btn btn-primary btn-sm">Solicitar Cita
            Mascota</button></a>
</div>