
body {
background-image: url('https://cdn.aarp.net/content/dam/aarp/home-and-family/your-home/2019/05/1140-cavalier-king-charles-spaniel-esp.imgcache.rev.web.900.518.jpg');
margin: 0;
background-repeat:no-repeat;
}